//Variables that are used throughout project
$margin: 0;
$padding: 0;
$fontFamily: Book Antiqua;
$boxSizing: border-box;
$breakpoint-ipad: 768px;
$breakpoint-desktop: 970px;
$breakpoint-max: 1200px;
$color: whitesmoke;
$c1-gold: rgba(185, 160, 24, 0.51);
$c1-grey: #8888;
$c3-light-pink: #f7cac9;
$color-white: white; 