@import "./style.scss";

//Flexbox på knapparna/inputs högst upp på sidan
.admin-controls {
    padding: 20px 0;
    margin: auto;
    display: flex;
    justify-content: space-between;
    max-width: 900px;
    height: 78px;

    form{
        max-width: 440px;
    }
}

//Container för resten av sidan, här också flex
.col-container {
    display: flex;
    justify-content: space-between;
    

    .left-col, .right-col{
        max-width: 440px;
        width: 100%;
    }

    .right-col {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: gray;
        color: white;
        height: 440px;

    }
}

#input-form{
  max-width: 900px;
  margin: auto;  
}


