.icons {
    display: flex;
    font-size: 1.4rem;
    width: 20vw;
    justify-content: space-around;
}

.fa-heart {
    color: #DF5653;
}

.fa-shopping-cart {
    color: #0071BC;
}

.iconNav:visited {
    color: whitesmoke;
}