ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-around;
}

li {
    font-size: 3rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
    text-align: center;
}

a {
    text-decoration: none;
    color: #1a1e26;
}