
@media screen and (min-width: $breakpoint-ipad) {
    
    * {
        font-size: 1.3rem;
    }
    
    .nav {
        flex-direction: column;
        height: 13vh;
    }
    
    .navTop {
        width: 100vw;
        height: 6vh;
    }
    
    .navBot {
        width: 100vw;
        height: 7vh;
    }

    .fa-bars {
        display: none;
    }

    .varukorg-modal-content {
        animation-name: none; // vill bli av med animation från mobil.
        width: 55%;
        float: right;
        height: 100%;
        margin:0;
        animation-name: slidein;
        animation-duration: 0.2s;
        transition-timing-function: ease-out;
    }

    //vill att den ska slidea in för höger ist för att gå från 0-1 opacity
    @keyframes slidein {
        0% {
            width: 0;
            opacity: 0;
        }
        100% {
            width: 55%;
            opacity: 1;
        } 
    }

    .mainMenu {
        display: flex !important;
        flex-direction: row;
        position: static;
        list-style: none;
        justify-content: space-evenly;
        align-items: center;
        height: 7vh;
    }
    
    .liNav {
        font-size: 1rem;
        padding-bottom: 0;
        padding-top: 0;
        text-align: center;
    }
    
    .aNav {
        text-decoration: none;
        color: #1a1e26;
    }
}

@media screen and (min-width: $breakpoint-desktop) {
    * {
        font-size: 1.4rem;
    }
    
    .nav {
        flex-direction: column;
        height: 13vh;
    }
    
    .navTop {
        width: 100vw;
        height: 6vh;
    }
    
    .navBot {
        width: 100vw;
        height: 7vh;
    }

    .varukorg-modal-content {
        width:45%;
    }

    @keyframes slidein {
        0% {
            width: 0;
            opacity: 0;
        }
        100% {
            width: 45%;
            opacity: 1;
        } 
    }

    .mainMenu {
        display: flex;
        flex-direction: row;
        position: static;
        list-style: none;
        justify-content: space-evenly;
        align-items: center;
        height: 7vh;
    }
    
    .liNav {
        font-size: 1rem;
        padding-bottom: 0;
        padding-top: 0;
        text-align: center;
    }
    
    .aNav {
        text-decoration: none;
        color: #1a1e26;
    }
}

@media screen and (min-width: $breakpoint-max) {
    .varukorg-modal-content {
        width:35%;
    }

    @keyframes slidein {
        0% {
            width: 0;
            opacity: 0;
        }
        100% {
            width: 35%;
            opacity: 1;
        } 
    }
}