@import "./variable.scss";
@media screen and (min-width: $breakpoint-ipad) {
 
    .navMenuFontSize > li > a {
        font-size: 1.5rem;
    }

    .navIconFontSize > a {
        font-size: 2.5rem;
    }
    .nav {
        flex-direction: column;
        height: 22vh;
        justify-content: center;
        align-items: center;    

        .navTop {
            width: 100vw;
            height: 14vh;

            .h1Nav {
                
                .logoContainer {
                    width: 7rem;
                    height: 7rem;
                
                    .logo {
                        width: 6rem;
                        height: 6rem;
                    }
                }
            }
        }
        
        .navBot {
            width: 100vw;
            height: 8vh;

            .fa-bars {
                display: none !important;
            }
        
            .hamburger-modal-content {
                animation-name: none;
                width: 55%;
                float: right;
                height: 100%;
                margin:0;
                animation-name: slidein;
                animation-duration: 0.2s;
                transition-timing-function: ease-out;
            }

            .navMenu {
                display: flex !important;
                flex-direction: row;
                position: static;
                list-style: none;
                justify-content: space-evenly;
                align-items: center;
                height: 8vh;
                margin: 0 !important;
                padding: 0 !important;

                .liNav {
                    text-align: center;  

                    .aNav {
                        text-decoration: none;
                        color: whitesmoke;
                    }
                }
            }
        }    
    }
    @keyframes slidein {
        0% {
            width: 0;
            opacity: 0;
        }
        100% {
            width: 55%;
            opacity: 1;
        } 
    }
}

@media screen and (min-width: $breakpoint-desktop) {
    .hamburger-modal-content {
        width:45%;
    }

    @keyframes slidein {
        0% {
            width: 0;
            opacity: 0;
        }
        100% {
            width: 45%;
            opacity: 1;
        } 
    }
}

@media screen and (min-width: $breakpoint-max) {
    .hamburger-modal-content {
        width:35%;
    }

    @keyframes slidein {
        0% {
            width: 0;
            opacity: 0;
        }
        100% {
            width: 35%;
            opacity: 1;
        } 
    }
}