@import "./variable.scss";
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $fontFamily;
    color: whitesmoke;
}
@import "./navContainer.scss";
@import "./logo.scss";
@import "./icons.scss";
@import "./hamburgerModal.scss";
@import "./navMenu.scss";
@import "./mediaquery.scss";
