@import "./variable.scss";
* {
    padding: $padding;
    margin: $margin;
    box-sizing: $boxSizing;
    font-family: $fontSize;
    color: whitesmoke;
}
@import "./nav.scss";
@import "./logo.scss";
@import "./icons.scss";
@import "./hamburgerModal.scss";
@import "./mainMenu.scss";
@import "./mediaquery.scss";
