@import "./variable.scss";
* {
    padding: 0;
    margin: 0;
    box-sizing: $boxSizing;
    font-family: $fontFamily;
}
@import "./navContainer.scss";
@import "./hamburgerModal.scss";
@import "./mediaquery.scss";
