.nav {
    background-color: #3A3A3A;
    display: flex;
    flex-direction: row;
    height: 15vh;
}

.navTop {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80vw;
    margin: auto;
}
.navBot {
    display: flex;
    justify-content: space-evenly;
    //align-items: center;
    margin: auto;
    width: 20vw;
}