$c1-blue: #0071BC;
$c2-dark-grey: #3A3A3A;
$c3-light-grey: #575757;
$c4-red: #DF5653;
$c5-yellow: #F7B333;

*{
    font-family: Oswald; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}