@import "./_variable.scss";

body {
    font-family: Oswald;
    background-color: $color-whitesmoke
};

.main-container{
    min-height: 35vh;
    width: 100%;
};

@import "./navbar/_navbar.scss"; 
@import "./shoppingCart/_shoppingCartModal.scss";
@import "./footer/_footer.scss";
@import "./products/_product-card.scss";
@import "./admin/_admin-style.scss";
@import "./product/_product.scss";
@import "./checkout/checkout.scss";
