.lastdiv {

    background-color: #575757!important;
    border-top: 0.063rem solid whitesmoke!important;
    padding: 1.563rem!important;

}

.copyright {

    color: white!important;
    font-weight:bold!important;
    
}