.big-container {
    margin-top: 10px;
    width: 100%;
    background-color: $c2-dark-grey;
    color: $color-whitesmoke;

    a{
        color: $color-whitesmoke;
        text-decoration: none;
    }

    hr{
        background-color: $color-whitesmoke;
        height: 2px;
    }

    .footer-row {
        margin: auto;
        padding: 1rem;
        max-width: $breakpoint-desktop;
        display: flex;
        justify-content: space-between;
        
                
        div > a {
            padding: 0 5px;
        }

        div {
            text-align: center;
            width: 100%;
            max-width: 300px;
        }
    }

    .footer-row-last {
        background-color: $c3-light-grey;
        text-align: center;
        padding: 1rem;
    }
}

@media only screen and (max-width: 600px) {
    .big-container {
        
        .footer-row{
            justify-content: center;
            flex-wrap: wrap;

            .footer-company-info{
                display: none;
            }
        }
    }
  }