.fa-shopping-cart {
    padding: 10px 20px;
    color: $color-whitesmoke;
}

.fa-shopping-cart:hover {
    background-color: $c2-dark-grey;
}

// nedan är alltså hela ytan när man trycker på knappen, inte själva varukorgen.
.varukorg-modal {
    display: none;
    position: fixed;
    z-index: 10000;
    right: 0;
    top: 0; 
    width: 100%;
    height: 100%; // hela skärmen
    overflow: auto;  // gör så att sidan förlängs om det finns massa innehåll.
    background-color: rgba(151, 143, 143, 0.5); // opacity 0.5
}

.varukorg-modal-content {
    background-color: whitesmoke;
    margin: 5% auto;
    width: 95%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17); 
    animation-name:modalopen;
    animation-duration: 1s;
    overflow: auto;  // gör så att sidan förlängs om det finns massa innehåll.
}

// ger backgrunden opacity när man öppnar modalen.
@keyframes modalopen {
    from{opacity: 0}
    to{opacity:1}
}

.modal-header {
    padding: 2rem;
    background-color: $c1-blue;
}

.modal-header > h2 {
    color:whitesmoke;
}

.close-btn{
    float: right;
    margin-right: 2rem;
    margin-top:-1rem;
    font-size:3rem; 
    color: whitesmoke;
}

.close-btn:hover, .close-btn:focus {
    color: black;
    text-decoration: none; //ingen underline
    cursor: pointer;
}

.modal-products{

    .product-qty {
        margin-left: 0.3rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid #9a9a9a;
    }

    .li-item {
        list-style-type: none;
        margin-left: 0.2rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid #9A9A9A;

        .product-img-name {
            display: flex;

            img {
                mix-blend-mode: multiply;
                height: 5rem;
            }

            .img-li-description {
                display: flex;
                flex-wrap: wrap;
                margin-left: 0.5rem;
                margin-top: 1rem;
            }
        }

        .product-btns-li {
            display: flex;
            width: 50%;
            max-width: 200px;
            justify-content: space-evenly;
        }
    }

    .cart-total {
        display: flex;
        justify-content: center;
        margin-top:1rem;
        margin-bottom: 1rem;
    }

    .to-checkout-btn {
        display: flex;
        justify-content: center;

        .purchase-button {
            margin-bottom: 2rem;
            width: 18rem;
        }
    }
}

//längst ned
@import "./_mediaqCartModal.scss";

