@media screen and (min-width: $breakpoint-ipad) {

    .product.product-title1 {
        font-size: 32rem;
    }

    .product-img-div {
        border: 1px solid slateblue;
        height: 35rem;
    } 
}

@media screen and (min-width: $breakpoint-desktop) {
}

@media screen and (min-width: $breakpoint-max) {
}