@import "../variable.scss";

// Kan vi sätta detta i global?? Om jag använder margin blir den biten vit dvs annan färg än whitesmoke
* {
    background-color: whitesmoke;
}

.product-landing-page {
    background-color: whitesmoke;
    //padding-top: 2rem;
    //padding-bottom: 2rem;
}

.product-title {
    text-align: center;
    margin: 5rem auto 2rem;
}

.product-img-div {
    border: 1px solid saddlebrown;
    width: 90%;
    margin: 0 auto;
}

.product-img {
    // tar bort vita backgrunden på bilden
    mix-blend-mode: multiply;  
    width: 100%;
}

.product-aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid orange;
}

.product-price {
    color: $c4-red;
}

.product-btns {
    margin: 2rem auto 2rem;
    display: flex;
    flex-direction: column;
    width: 95%;
}

.product-cart {
    background-color: $c1-blue;
    color: whitesmoke; 
    margin-bottom: 2rem;
}

.fa-heart {
    color: red;
}

.product-stock {
    font-size: 1.5rem;
}



@import "./mediaqproduct.scss";