* {
    background-color: whitesmoke;
}

.product-wrapper {
    display: flex;
    flex-direction: row;
}

.product-img {
    // tar bort vita backgrunden på bilden
    mix-blend-mode: multiply;
    width: 50%;
    border: 1px solid slateblue;
}