.margin-rubrik {
  margin-bottom: 1%;
}

.container-kundvagn {
  margin-top: 176px;
  .listItems {
    margin-left: -2.375rem;
  }

  h6 {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    font-size: 1rem;
  }

  small {
    color: #6c757d !important;
  }

  .muted {
    color: #6c757d !important;
  }
}

.green {
  color: #28a745 !important;
}

.span-green {
  color: #28a745 !important;
}

.shoppingItems {
  margin-right: -0.938rem;
  margin-left: --0.938rem;
}

.group-input {
  position: relative;
  display: flex;
  align-items: stretch;
  width: 100%;

  .discount-input {
    display: block;
    width: 100%;
    height: calc(2.25rem + 0.125rem);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: whitesmoke;
    background-clip: padding-box;
    border: 0.063rem solid #ced4da;
    border-radius: 0.25rem;
    margin-top: 0, 5rem;
    margin-left: 0rem;
    position: relative;
  }
}

.btn2 {
  background-color: $c1-blue;
  border-color: $c1-blue;
  display: inline-block;
  font-weight: 400;
  color: whitesmoke;
  text-align: center;
  border: 0.063rem solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  margin-top: 0rem;
  position: inherit;
}

.container {
  .produkt-1 {
    color: #fff;
    background-color: $c3-light-grey;
    border-radius: 10rem;
    display: inline-block;
    padding: 0.25em 0.4em;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    font-size: 1.5rem;
  }

  h4 {
    display: contents;
  }

  .list {
    justify-content: space-between !important;
    display: flex !important;
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    margin-bottom: -1.06rem;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
  }

  .list-2 {
    justify-content: space-between !important;
    display: flex !important;
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    margin-bottom: -0.063rem;
    background-color: #f8f9fa !important;
    border: 0.063rem solid rgba(0, 0, 0, 0.125);
  }

  .total-list {
    justify-content: space-between !important;

    display: flex !important;

    position: relative;

    padding: 0.75rem 1.25rem;

    margin-bottom: -0.063rem;

    background-color: #fff;

    border: 0.063rem solid rgba(0, 0, 0, 0.125);
  }

  .btn {
    height: 3rem;
    margin-top: 3rem;
  }
}
