.container {

    .sidetoside {
        display: flex;
    }

    .formgroup-sidetoside {
        width: 100%;
    }

    hr {
        margin-top: 1rem;
        margin-bottom: 1.5rem !important;
        border-top: 0.063rem solid rgba(0, 0, 0, .1);
        margin-bottom: 1.5rem !important;
    }

    .checkbox {
        position: relative;
        display: block;
        min-height: 1.5rem;
        padding-left: 1.5rem;
    }

}