.modalstyle {
  .h2order {
    width: 100%;
    margin-top: -2%;
    margin-left: 47%;

    @include responsive(tab-port) {
    margin-top: 3%;
    margin-left: 39%;
    }

    @include responsive(phone) {
      margin-top: -25%;
      margin-left: -1%;
      font-size: 1.188rem;
      width: 166%;
    }
  }

  .fireworks {
    width: 50%;
    max-width: 100%;
    margin-top: 1rem;
    margin-left: 46%;
    margin-bottom: -42%;

    @include responsive(tab-port) {
      max-width: 100%;
      width: 67%;
      margin-top: 1.38rem;
      margin-left: 46%;
      margin-top: 2;
    }

    @include responsive(phone) {
        width: 97%;
        margin-top: 7.19rem;
        margin-left: 65%;
    }
  }
}
