.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 6.25rem; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.294); /* Black w/ opacity */
  margin-top: 134px;
 
 

  @include responsive(tab-land) {
    margin-top: 140px;
  }
  @include responsive(tab-port) {
    margin-top: 70px;
  }



  /* Modal Content */
  .modal-content-checkout {
    overflow: auto;
    background-color: $color;
    margin: auto;
    font-family: $fontFamily;
    padding: 6.25rem;
    border: 0.063rem solid $c1-grey;
    border-radius: 2%;
    width: 50rem;
    height: 27rem;

    @include responsive(tab-land) {
      width: 50rem;
     
    }

    @include responsive(tab-port) {
      width: 37.5rem;
      height: 32rem;
    }

    @include responsive(phone) {
      width: 18.75rem;
    }

    .infotext {
      margin-top: -15%;

      @include responsive(tab-land) {
        margin-top: -15%;
      }

      @include responsive(tab-port) {
        margin-top: -32%;
      }

      @include responsive(phone) {
        margin-top: -120%;
      }
    }

    .modalstyle {
      margin-top: -5.69rem;
      margin-left: -3.938rem;
      font-size: 120%;

      @include responsive(phone) {
        font-size: 16px;
      }
    }

    .kundinfoo {
      margin-left: 0rem;
      margin-bottom: 2rem;
      margin-top: -2.125rem;
    }

    .leverans {
      margin-top: 0rem;
      margin-bottom: 2rem;
    }

    .close {
      color: $c1-grey;
      float: right;
      font-size: 2rem;
      font-weight: bold;
      margin: -5.625rem;
      margin-top: -6.25rem;
    }

    .close:hover,
    .close:focus {
      color: $c1-grey;
      text-decoration: none;
      cursor: pointer;
    }
  }
}
