.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 6.25rem; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.294); /* Black w/ opacity */
  margin-top: 88px;

  @include responsive(tab-port) {
    margin-top: 40px;
  }

  @include responsive(phone) {
    margin-top: 40px;
  }

  /* Modal Content */
  .modal-content-checkout {
    overflow: auto;
    background-color: whitesmoke;
    margin: auto;
    font-family: $fontFamily;
    padding: 6.25rem;
    border: 0.063rem solid #888;
    border-radius: 2%;
    width: 62.5rem;
    height: 31.25rem;

    @include responsive(tab-land) {
      width: 50rem;
      height: 31.25rem;
    }

    @include responsive(tab-port) {
      width: 37.5rem;
      height: 31.25rem;
    }

    @include responsive(phone) {
      width: 18.75rem;
      height: 31.25rem;
    }

    .infotext {
      margin-top: -20%;

      @include responsive(tab-land) {
        margin-top: -15%;
      }

      @include responsive(tab-port) {
        margin-top: -15%;
      }

      @include responsive(phone) {
        margin-top: -15%;
      }
    }

    .modalstyle {
      margin-top: -3.688rem;
      margin-left: -3.938rem;
    }

    .kundinfoo {
      margin-left: 0rem;
      margin-bottom: 2rem;
      margin-top: -2.125rem;
    }

    .leverans {
      margin-top: 0rem;
      margin-bottom: 2rem;
    }

    .close {
      color: #6e7371;
      float: right;
      font-size: 2rem;
      font-weight: bold;
      margin: -5.625rem;
      margin-top: -6.25rem;
    }

    .close:hover,
    .close:focus {
      color: $c3-light-grey;
      text-decoration: none;
      cursor: pointer;
    }
  }
}
