.container {
  .div-margin {
    margin-bottom: 1rem !important;
    margin-top: 1rem !important;
  }

  .div-control {
    padding-left: 1.5rem;
  }

  .divpayment {
    display: flex;
    flex-wrap: wrap;
    margin-right: -0.938rem;
    margin-left: -0.938rem;
  }

  .div-bottom {
    margin-bottom: 1rem !important;
  }
  .buttoncenter {
    display: flex;
    justify-content: center;

    .btn1 {
      background-color: $c1-gold;
      width: 81rem;
      margin-bottom: 2rem;
      color: $color;
      border-radius: 12px;
      height: 45px;
      border: none;

      &:hover {
        color: $color;
        background-color: rgba(209, 181, 24, 0.51);
      }

      &:focus {
        color: $color;
        background-color: rgba(209, 181, 24, 0.51);
      }
    }
  }
}
