.container {

    .div-margin {
        margin-bottom: 1rem !important;

        margin-top: 1rem !important;

    }

    .div-control {
        padding-left: 1.5rem;
    }

    .divpayment {
        display: flex;
        flex-wrap: wrap;
        margin-right: -0.938rem;
        margin-left: -0.938rem;
    }

    .div-bottom {
        margin-bottom: 1rem !important;
    }

    .btn {
        background-color: $c1-blue;
    }

}